* {
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #333333;
}

div {
  font-size: 15px;
}

p {
  font-size: 13px;
  line-height: 18px;
}

pre {
  padding: 10px 10px 5px 10px;
	display: block;
	font-size: 13px;
	font-family: monospace, Courier, sans-serif;
  color: green;
}

li {
  line-height: 20px;
}

a:hover {
  text-decoration: underline;
}
